<div class="bdw" >
  <div class="container-fluid" id="mainn">
    <carousel id="caroo" >
      <slide>
        <img src="../assets/images/Background.jpg" alt="first slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../assets/images/Background1.jpg" alt="second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../assets/images/Background2.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
    </carousel>

    <div class="container-fluid" id="con2">
      <!-- Product Cards Section -->
      <section id="partt" class="product-cards">

        <div *ngIf="products.length > 0; else noProducts">
          <div class="row">
            <div *ngFor="let card of getCardProducts(); let i = index" class="col-md-3">
              <div class="card p-3 rounded">
                <div class="row">
                  <div *ngFor="let product of card" class="col-6">
                    <div *ngIf="product.images && product.images.length > 0">
                      <img *ngFor="let image of product.images" 
                           [src]="image" 
                           alt="{{ product.name }}" 
                           [routerLink]="['/products', product._id]"
                           class="card-img-top mx-auto"
                           style="max-height: 200px; object-fit: contain;">
                    </div>
                    
          
                    <a [routerLink]="['/products', product._id]" class="centered-content" id="coll">{{ product.name }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
       
      </section>
      

<section *ngIf="getCarousel1Products().length > 0" class="product-carousel">
  <div class="card p-3 rounded mb-4">
    <div class="product-flex-container" id="productFlexContainer1">
      <div *ngFor="let product of getCarouselProducts(1)" class="product-item">
        <div *ngIf="product.images && product.images.length > 0">
          <div *ngFor="let image of product.images">
            <img [src]="image" 
                 alt="{{ product.name }}" 
                 [routerLink]="['/products', product._id]"
                 class="product-image">
          </div>
        </div>
        <h5>{{ product.name }}</h5>
      </div>
    </div>

    <a class="carousel-control-prev" 
       href="javascript:void(0)" 
       role="button" 
       (click)="goToPrevProduct(1)" 
       [class.disabled]="!canGoPrev(1)">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" 
       href="javascript:void(0)" 
       role="button" 
       (click)="goToNextProduct(1)" 
       [class.disabled]="!canGoNext(1)">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!-- Carousel 2: Products 44 to 55 -->
<section  *ngIf="getCarousel1Products().length > 0" class="product-carousel">
  <div class="card p-3 rounded mb-4">
    <div class="product-flex-container" id="productFlexContainer1">
      <div *ngFor="let product of getCarouselProducts(2)" class="product-item">
        <div *ngIf="product.images && product.images.length > 0">
          <div *ngFor="let image of product.images">
            <img [src]="image" 
                 alt="{{ product.name }}" 
                 [routerLink]="['/products', product._id]"
                 class="product-image">
          </div>
        </div>
        <h5>{{ product.name }}</h5>
      </div>
    </div>

    <!-- Previous Button -->
    <a class="carousel-control-prev" 
       href="javascript:void(0)" 
       role="button" 
       (click)="goToPrevProduct(2)" 
       [class.disabled]="!canGoPrev(2)">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <!-- Next Button -->
    <a class="carousel-control-next" 
       href="javascript:void(0)" 
       role="button" 
       (click)="goToNextProduct(2)" 
       [class.disabled]="!canGoNext(2)">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!-- Carousel 3: Products 56 to 67 -->
<section *ngIf="getCarousel1Products().length > 0" class="product-carousel">
  <div class="card p-3 rounded mb-4">
    <div class="product-flex-container" id="productFlexContainer1">
      <div *ngFor="let product of getCarouselProducts(3)" class="product-item">
        <div *ngIf="product.images && product.images.length > 0">
          <div *ngFor="let image of product.images">
            <img [src]="image" 
                 alt="{{ product.name }}" 
                 [routerLink]="['/products', product._id]"
                 class="product-image">
          </div>
        </div>
        <h5>{{ product.name }}</h5>
      </div>
    </div>

    <!-- Previous Button -->
    <a class="carousel-control-prev" 
       href="javascript:void(0)" 
       role="button" 
       (click)="goToPrevProduct(3)" 
       [class.disabled]="!canGoPrev(3)">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <!-- Next Button -->
    <a class="carousel-control-next" 
       href="javascript:void(0)" 
       role="button" 
       (click)="goToNextProduct(3)" 
       [class.disabled]="!canGoNext(3)">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<ng-template #noProducts>
  <div class="no-products-container">
    <img class="mb-0" id="imgNo" src="https://res.cloudinary.com/dnevcmh6x/image/upload/v1731497417/my_folder/NS/utlqcotgbu4avwtmsh44.png"/>
    <h3 class="mt-3" >We couldn't find any Results</h3>
    <h3  class="mt-1" id="nope1"> Please try exploring other products or categories...</h3>
  </div>
</ng-template>
 </div>
</div>

<footer class="responsive-footer">
  <div class="footer-container">
    <!-- About Section -->
    <div class="footer-section about">
      <h4 class="footer-section-title">About Us</h4>
      <p class="footer-section-description">We are a leading ecommerce platform offering a wide variety of products. Our mission is to deliver top-quality service and products to meet your needs.</p>
    </div>

    <!-- Quick Links -->
    <div class="footer-section quick-links">
      <h4 class="footer-section-title">Quick Links</h4>
      <ul class="footer-section-list">
        <li><a routerLink="/dashboard"  class="footer-link">Home</a></li>
        <li><a routerLink="/cart"  class="footer-link">Cart</a></li>
        
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="footer-section contact">
      <h4 class="footer-section-title">Contact</h4>
      <p class="footer-section-description">Email: <a href="mailto:itznaveen1402gmail.com" class="footer-link">itznaveen1402&#64;gmail.com</a></p>
      <p class="footer-section-description">Phone: <a href="tel:+1234567890" class="footer-link">+123 456 7890</a></p>
      <p class="footer-section-description">Address: 123 Main St, Coimbatore, India</p>
    </div>

    <!-- Social Links -->
    <div class="footer-section social">
      <h4 class="footer-section-title">Follow Us</h4>
      <div class="social-links">
        <a href="https://www.facebook.com/" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/?lang=en" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/feed/" class="social-icon linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <p>&copy; 2024 NS Cart.in. All Rights Reserved.</p>
  </div>
</footer>