<div class="container-fluid">
    <!-- Product Cards Section -->
    <section>
        <div class="row">
            <div *ngIf="products.length > 0; else noProducts" id="type1">
                <!-- Loop through products in groups of 32 for 4 cards -->
                <div *ngFor="let card of getProductChunks(products.slice(0, 32), 8); let i = index" class="col-md-3">
                    <div class="card p-3 rounded">
                        <div class="row">
                            <div *ngFor="let product of card" class="col-6"> <!-- 2 products per row in the card -->
                                <img [routerLink]="['/products', product._id]" class="card-img-top mx-auto" [src]="product.images[0]?.image" />
                                <a [routerLink]="['/products', product._id]" class="centered-content" id="coll">{{ product.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noProducts>
                <h3>No Products Available</h3>
            </ng-template>
        </div>
    </section>

    <!-- Carousel Section -->
    <section>
        <carousel>
            <slide *ngFor="let carousel of getCarouselProducts()">
                <div class="row">
                    <div *ngFor="let product of carousel" class="col-md-2">
                        <img [src]="product.images[0]?.image" class="d-block w-100" alt="carousel slide">
                    </div>
                </div>
            </slide>
        </carousel>
    </section>
</div>
