<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thanks for Your Order!</title>
  <link rel="stylesheet" href="./sucess.component.css"> 
</head>
<body>
  <div class="thank-you-page">
    <div class="thank-you-container">
      <div class="thank-you-title">Thank You for Your Order!</div>
      <p class="thank-you-message">We appreciate your business! If you have any questions, please email us at 
        <a href="mailto:itznaveen1402&#64;gmail.com" class="email-link">itznaveen1402&#64;gmail.com</a>

      </p>
      <p>
        <a href="https://673afb851ef44f00084ac20d--nscartin.netlify.app/dashboard" class="continue-shopping">Continue Shopping</a>
      </p>
    </div>
  </div>
</body>
</html>
