<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thanks for Your Order!</title>
  <link rel="stylesheet" href="./cancel.component.css"> 
</head>
<body>
  <div class="thank-you-page">
    <div class="thank-you-container">
      <div class="thank-you-title"> Missed Out Something ?</div>
     
      <p>
        <a href="https://673afb851ef44f00084ac20d--nscartin.netlify.app/dashboard" class="continue-shopping">Continue Shopping</a>
      </p>
    </div>
  </div>
</body>
</html>
