<nav class="navbar row" id="h">
  <div class="col-12 col-md-3">
    <div class="navbar-brand">
      <img width="150px" src="https://res.cloudinary.com/dnevcmh6x/image/upload/v1731141360/my_folder/NS/a6b4mqupd9l6z6k4rtdi.png" />
    </div>
  </div>

  <div class="col-12 col-md-6 mt-2 mt-md-0">
    <div class="input-group">
      <input
        type="text"
        id="search_field"
        class="form-control"
        placeholder="Enter Product Name ..."
        [(ngModel)]="searchText"
        (input)="clearSearch()"
        (keydown.enter)="searchByEnterKey()"
      />
      <div class="input-group-append">
        <button id="search_btn" class="btn" (click)="search()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 mt-4 mt-md-0 text-center">
    <a routerLink="/cart" style="text-decoration: none;">
      <span id="cart" class="ml-3">Cart</span>
      <span class="ml-1" id="cart_count">{{ cartCount }}</span>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>


